#shopTravelTop {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h2 {
        font-size: 4rem;
        margin: 3rem;

        @media (width <=900px) {
            font-size: 3rem;
        }

        @media (width <=500px) {
            font-size: 2.5rem;
        }
    }

    p {
        line-height: 1.7rem;
    }
}

#shopTravelIntroduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div:nth-child(4){
        margin-bottom: 20rem;
    }

    p {
        text-align: center;
    }

    .shopTitle {
        margin: 5rem 0 2rem;
    }

    .shop01 {
        width: 800px;
        height: 300px;
        border: 3px solid black;

        font-size: 3rem;
        color: red;

        @media (width <=900px) {
            width: 400px;
        }

        @media (width <=500px) {
            width: 300px;
        }

        img {
            width: 100%;
        }
    }
}