#facilityTop {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    h2 {
        font-size: 4rem;
        margin: 3rem;
    }

    p{
        line-height: 1.7rem;
    }
}

#facilityIntroduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h2{
        font-size: 1.5rem;
        margin: 2rem 0 1rem 0;
    }

    .facilityIntroductionImage {

        img {
            max-width: 800px;
            width: 100%;
            max-height: 600px;
            height: 100%;
        }
    }

    .facilityIntroductionText{
        margin-bottom: 3rem;
    }
}